body {
  background-color: #011627;
  color: white;
}

h1,
h2,
h3,
p {
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar_actions {
  display: flex;
  flex-direction: column;
}
.navbar_actions button {
  margin: 5px;
}

.one_movie_payment_options {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.one_movie_payment_options button {
  margin: 10px;
}

.info_about_customer {
  background-color: #d9d9d91a;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.info_about_customer label {
  margin-bottom: 10px;
}

input {
  background-color: inherit;
}

.welcome_movie_container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.small_film_list {
  margin-left: 10px;
}

.all-movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-card {
  flex: 0 0 calc(23% - 10px);
  margin-bottom: 20px;
}

.trash-image {
  cursor: pointer;
  height: 30px;
  width: 30px;
  -webkit-filter: grayscale(1) invert(1);
}
